html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-snap-type: y proximity;
}

h1, p {
    margin: 0;
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* extra : lang-chooser */

#lang-chooser {
    margin-top: 60px;
}

#lang-chooser a {
    color: white;
    padding: 0 10px;
}

/* extra : navigator */

#navigator {
    display: none;
}

/* section -1 : home */

#home-sec {
    background-color: #1C1B20;
    height: 100vh;
    scroll-snap-align: start;
    border-top: solid 3px #2d748a;
    text-align: center;
}

#home-name {
    padding-top: 15%;
    border-bottom: solid white 2px;
    padding-bottom: 40px;
    display: inline-block;
}

#home-name>h1 {
    text-align: center;
    font-size: 38pt;
    color: white;
}

/* section 0 : intro */

#intro-sec {
    background-color: #1C1B20;
    height: 100vh;
    text-align: center;
    scroll-snap-align: start;
    border-top: solid 10px #2d748a;
    position: relative;
}

#name {
    text-align: center;
    padding-top: 30vh;
}

#name>h1 {
    font-size: 2.5rem;
    color: white;
}

#custom-name {
    color: white;
    border-bottom: solid 2px #2d748a;
    display: inline;
    padding: 0 5px;
}

#title {
    padding-top: 10px;
    text-align: center;
}

#title p {
    font-size: 1.5rem;
    color: white;
}

.scroll-arrow i {
    font-size: 48pt;
    width: 100%;
    cursor: pointer;
    position: absolute;
    bottom: 10vh;
    /* border: solid 2px green; */
    left: 0;
}

.white-arrow i {
    color: white;
}

.black-arrow i {
    color: #343a40;
}

/* section 1 : about */

#about-sec {
    /* height: 100vh; */
    padding-top: 45%;
    margin-bottom: 25%;
    width: 100%;
    /* border: solid 3px green; */
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-color: #1C1B20;
}

/* 
#about-panel {
    width: calc(100% - 100vh);
    height: 100%;
    background-color: tomato;
    background-color: white;
    border: solid 5px yellow;
    float: right;
    overflow: hidden;
    border-bottom-right-radius: 50%;
} */

#about-container {
    /* border: solid 5px blue; */
    /* width: calc(100vh); */
    width: 100%;
    background-color: #1C1B20;
    /* background-color: #2d748a; */
}

/* #about-container {
    background-color: white;
    overflow: hidden;
    width: calc(100% - 100vh);
    float: right;
    border-top-left-radius: 100%;
    height: 100%;
    padding: 10% 0;
} */

#about-content {
    /* border: solid 3px yellow; */
    /* width: calc(100% - 25vh); */
    width: 100%;
    background-color: #1C1B20;
    background-color: white;
    border-top: solid 4px #2d748a;
    position: relative;
}

#about-content .left {
    width: 100%;
    /* border: dashed 2px blue; */
    padding: 0 20px;
    margin-top: 35%;
}

#about-content .left h1 {
    font-size: 1.75rem;
    /* color: white; */
    text-align: center;
}

#about-content .left p {
    font-size: 1.1em;
    margin: 30px 0 0 0;
    /* color: white; */
}

#about-content .right {
    width: 100%;
    text-align: center;
    /* border: dashed 2px green; */
    position: absolute;
    top: 0;
}

#about-content .right>img {
    border-radius: 100%;
    width: 50%;
    margin-top: -25%;
    /* no-debug border*/
    border: #2d748a solid 3px;
    background-color: #2d748a;
}

/* section 2 : education */

#edu-sec {
    background-color: white;
    /* height: 100vh; */
    /* scroll-snap-align: start; */
    /* border: solid 2px blue; */
    position: relative;
}

#mobile-curve-container {
    width: 100%;
    height: 100vw;
    background-color: #1C1B20;
    /* border: dashed 4px blue; */
}

#mobile-curve {
    height: 100%;
    width: 100%;
    background-color: white;
    border-bottom: solid 50px #2d748a;
    border-bottom-left-radius: 100%;
}

#edu-cont {
    width: 100%;
    /* border: dashed 2px red; */
    z-index: 2;
}

#edu-sec h1 {
    font-size: 1.75rem;
    text-align: center;
    margin: 40px 0;
}

#edu-cont ul:first-child {
    /* border: dashed 2px green; */
    padding-left: 5%;
}

#edu-sec .edu-item {
    margin-top: 20px;
}

#edu-sec .edu-item p {
    margin-top: 5px;
}

#edu-sec .edu-time {
    font-size: 1rem;
}

#edu-sec .edu-degree {
    font-size: 1.1rem;
    padding-left: 20px;
}

#edu-sec .edu-school {
    font-size: 1rem;
    padding-left: 50px;
}

/* section 3 : skills */

#skills-sec {
    width: 100%;
    scroll-snap-align: start;
    /* border: dashed 2px green; */
}

#skills-cont {
    background-color: #1C1B20;
    padding-bottom: 50px;
    width: 100%;
    border-bottom: solid 10px #2d748a;
}

#skills-cont h1 {
    font-size: 1.75rem;
    padding: 40px 0;
    text-align: center;
    color: white;
}

#skills-cont .cat {
    width: 100%;
    margin-bottom: 30px;
    /* border: dashed 2px green; */
}

#skills-cont .cat-left {
    /* text-align: right;
    padding-right: 10px; */
}

#skills-cont .cat .title {
    color: white;
    /* border: dashed 1px blue; */
    text-align: center;
}

#skills-cont .cat ul {
    /* padding-left: 10px; */
    /* border: dashed 2px yellow; */
    text-align: center;
}

/* skills elements */

#skills-cont .cat li {
    color: #919099;
}

/* section 4 : projects */

#projects-sec {
    background-color: #1C1B20;
    margin: 30px 10%;
    border-radius: 0 0 50px 0;
    scroll-snap-align: start;
    scroll-margin-top: 30px;
    scroll-snap-stop: always;
    /* border: solid 3px green; */
}

#projects-sec h1 {
    font-size: 1.75rem;
    text-align: center;
    color: white;
    padding: 40px 0;
}

.project-item {
    /* border-bottom: solid 2px white; */
    /* border: dashed 2px blue; */
    /* text-align: center; */
}

.project-item:last-child {
    border: none
}

/* .project-item-left {
    margin-left: -5%;
    margin-right: 5%;
}

.project-item-right {
    margin-left: 5%;
    margin-right: -5%;
} */

.project-item .picture {
    width: 90vw;
    transform: translateX(-5vw);
    text-align: center;
    /* border: solid 3px red; */
}

/* .project-item-left .picture {
    float: left;
}

.project-item-right .picture {
    float: right;
    right: 0;
} */

.project-item .picture img {
    width: 100%;
    /* height: 60vh; */
    /*TODO: crop images side align*/
    /* height: 60vh; */
    /* object-fit: none; */
}

.project-item .details {
    /* border: dashed 2px yellow; */
    border-bottom: solid 1px white;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/* .project-item-left .details {
    width: 35%;
    float: right;
} */

/* .project-item-right .details {
    width: 35%;
    float: left;
} */

.project-item .details .title {
    padding: 20px 0 0 5vw;
    font-size: 1.5rem;
    color: white;
}

.project-item .details .description {
    width: 100%;
    padding: 0 5vw;
    /* border: solid 3px springgreen; */
    /* margin-bottom: 10px; */
    font-size: 1.1rem;
    color: #919099;
}

.project-item .details .tech {
    width: 100%;
    padding: 2px 3vw;
    color: rgb(102, 100, 100);
}

.project-item .details .techs-logos-container {
    width: 100%;
    margin: 5px 0 5px 0;
    /* align-items: center; */
    text-align: center;
}

.techs-logos-container .techs-logos img {
    width: 20%;
    margin: 0 5px;
    /* border: dashed 2px red; */
}

.project-item .details .features {
    /* padding: 40px 0 0 30px; */
    width: 100%;
    padding: 0 5vw;
    color: white;
}

.project-item .details ul {
    /* padding-left: 50px; */
    width: 100%;
    padding: 0 5vw;
    list-style-type: none;
    color: #919099;
}

.project-item .links {
    text-align: center;
    margin-top: 10px;
    /* border: 3px #2d748a solid; */
}

.project-item .links .source-btn {
    margin: 10px 0 0;
}

.project-item .links .try-btn {
    margin: 10px 0 0;
}

/* section 5 : cv */

#resume-sec {
    /* border: solid 5px green; */
    height: 100vh;
    background-color: #2d748a;
    /* position: relative; */
    overflow: hidden;
    scroll-snap-align: start;
    position: relative;
}

#resume-dwld {
    /* border: dashed 3px blue; */
    width: 100%;
    height: 70%;
    margin-top: 15vh;
    background-color: #1C1B20;
}

#resume-title {
    /* border: solid 3px yellow; */
    position: relative;
    width: 100%;
    height: 50%;
}

#resume-title:after {
    content: "";
    position: absolute;
    border-bottom: solid 1px white;
    width: 60%;
    left: 20%;
    bottom: 0;
}

#resume-title>h1 {
    /* border: dashed 3px red; */
    font-size: 1.75rem;
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 25px;
}

#dl-buttons {
    /* border: solid 3px blue; */
    width: 100%;
    padding-top: 25px;
    height: 50%;
    color: white;
    text-align: center;
}

#social-container {
    width: 100%;
    height: 15%;
    /* border: solid 3px blue; */
    position: absolute;
    bottom: 15vh;
    overflow: hidden;
}

#social-content {
    /* border: solid 3px green; */
    width: 80%;
    height: 100%;
    margin: 0 10%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#social-content i {
    font-size: xx-large;
    color: white;
}

#copyrights {
    width: 100%;
    text-align: center;
    height: 15vh;
    /* border: solid 3px green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyrights>p {
    color: white
}