html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, p {
    margin: 0;
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* section 0 : intro */

#intro-sec {
    background-color: rgb(87, 189, 207);
    height: 100%;
}

#name {
    text-align: center;
    padding-top: 15%;
}

#name>h1 {
    font-size: 38pt;
    color: white;
}

#title {
    text-align: center;
}

#title p {
    font-size: xx-large;
    color: white;
}

/* section 1 : about */

#about-sec {
    overflow: hidden;
    margin: 5% 10%;
}

#about-sec .left {
    width: 60%;
    float: left;
}

#about-sec .left h1 {
    font-size: xx-large;
    margin: 8% 0 0 5%;
}

#about-sec .left p {
    font-size: large;
    margin: 10px 0 0 8%;
}

#about-sec .right {
    width: 40%;
    float: left;
}

#about-sec .right>img {
    padding: 1%;
    border-radius: 50%;
}

/* section 2 : education */

#edu-sec {
    width: 100%;
    overflow: hidden;
    background-color: rgb(231, 231, 231);
    /* background-image: url("https://picsum.photos/1920/1080");
    background-position: center;
    background-repeat: no-repeat; */
}

#edu-sec #edu-cont {
    padding: 0 0 5% 2%;
    margin: 2%;
    border-radius: 20px;
}

#edu-sec h1 {
    font-size: xx-large;
    text-align: center;
    margin: 50px 0;
}

#edu-sec p {}

#edu-sec ul:first-child {
    padding-left: 50%;
}

#edu-sec .edu-item {
    margin: 20px 0;
}

#edu-sec .edu-item p {
    margin: 5px;
}

#edu-sec .edu-time {
    font-size: medium;
}

#edu-sec .edu-degree {
    font-size: large;
    padding-left: 20px;
}

#edu-sec .edu-school {
    font-size: small;
    padding-left: 50px;
}

/* section 3 : skills */

#skills-sec {
    width: 100%;
    background-color: #1C1B20;
    overflow: hidden;
    padding-bottom: 90px;
}

#skills-sec h1 {
    font-size: xx-large;
    text-align: center;
    margin: 50px 0;
    color: white;
}

#skills-sec .cat {
    width: 25%;
    float: left;
}

#skills-sec .cat .title {
    color: white;
    padding-left: 25%;
}

#skills-sec .cat ul {
    padding-left: 30%;
}

#skills-sec .cat li {
    color: #4c4a57;
    margin: 10px 0;
}

/* section 4 : projects */

#projects-sec {
    margin: 0 5%;
}

.project-item {
    width: 100%;
    overflow: hidden;
}

.project-item .picture {
    width: 20%;
    float: left;
}

.project-item .details {
    width: 80%;
    float: left;
    background-color: lightsalmon;
}