html, body {
    height: 100%;
    margin: 0;
}

h1, h2, p {
    margin: 0;
}

/* section 0 : intro */

#intro-sec {
    background-color: aquamarine;
    height: 100%;
}

#name {
    text-align: center;
    background-color: blueviolet;
    padding-top: 15%;
}

#title {
    text-align: center;
    background-color: brown;
}

/* section 1 : about */

#about-sec .left {
    width: 75%;
    float: left;
}

#about-sec .right {
    width: 25%;
    float: left;
    background-color: hotpink;
    overflow: hidden;
}

/* section 2 : education */

#edu-sec {
    width: 100%;
    background-color: crimson;
    overflow: hidden;
}

#edu-sec .left {
    width: 50%;
    float: left;
}

#edu-sec .right {
    width: 50%;
    float: left;
}

/* section 3 : skills */

#skills-sec {
    width: 100%;
    background-color: darkolivegreen;
    overflow: hidden;
}

#skills-sec .cat {
    width: 25%;
    float: left;
}

/* section 4 : projects */

#projects-sec {
    margin: 0 5%;
}

.project-item {
    width: 100%;
    overflow: hidden;
}

.project-item .picture {
    width: 20%;
    float: left;
}

.project-item .details {
    width: 80%;
    float: left;
    background-color: lightsalmon;
}