html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-snap-type: y proximity;
}

h1, p {
    margin: 0;
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* extra : navigator */

#navigator {
    position: fixed;
    height: 100vh;
    /* border: solid 3px green; */
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

#navigator>#anchors {
    /* border: solid 3px blue; */
    /* background-color: white; */
}

#navigator>#anchors ul {
    margin: 5px 2px;
}

#navigator>#anchors i {
    font-size: x-large;
    /* border: solid 1px salmon; */
    border-radius: 50%;
}

.anchor-b {
    border: crimson 3px solid;
    border-radius: 50%;
}

/* section 0 : intro */

#intro-sec {
    background-color: #1C1B20;
    height: 100vh;
    text-align: center;
    scroll-snap-align: start;
    border-top: solid 3px crimson;
}

#name {
    text-align: center;
    padding-top: 15%;
}

#name>h1 {
    font-size: 38pt;
    color: white;
}

#custom-name {
    color: white;
    border-bottom: solid 2px crimson;
    display: inline;
    padding: 0 5px;
}

#title {
    padding-top: 10px;
    text-align: center;
}

#title p {
    font-size: xx-large;
    color: white;
}

.scroll-arrow {
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}

.scroll-arrow i {
    /* border: solid 1px white; */
    font-size: 48pt;
    border-radius: 10px;
    padding: 20px 50px;
    cursor: pointer;
}

.white-arrow i {
    color: white;
}

.black-arrow i {
    color: #343a40;
}

/* section 1 : about */

#about-sec {
    -webkit-scroll-snap-stop: always;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    /* border: solid 3px green; */
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* 
#about-panel {
    width: calc(100% - 100vh);
    height: 100%;
    background-color: tomato;
    background-color: white;
    border: solid 5px yellow;
    float: right;
    overflow: hidden;
    border-bottom-right-radius: 50%;
} */

#about-container {
    overflow: hidden;
    /* border: solid 5px blue; */
    /* width: calc(100vh); */
    width: 90%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    /* background-color: crimson; */
    border-radius: 20px 0 0 15px;
}

/* #about-container {
    background-color: white;
    overflow: hidden;
    width: calc(100% - 100vh);
    float: right;
    border-top-left-radius: 100%;
    height: 100%;
    padding: 10% 0;
} */

#about-content {
    /* border: solid 3px darkred; */
    /* width: calc(100% - 25vh); */
    width: 100%;
    height: 100%;
    background-color: #1C1B20;
    overflow: hidden;
    position: relative;
    border-bottom: solid 15px crimson;
}

#about-content .left {
    width: 50%;
    /* border: solid 2px blue; */
    position: absolute;
    top: 25%;
}

#about-content .left h1 {
    font-size: xx-large;
    margin: 8% 0 0 20%;
    color: white;
}

#about-content .left p {
    font-size: large;
    margin: 10px 0 0 25%;
    color: white;
}

#about-content .right {
    width: 40%;
    position: absolute;
    top: 25%;
    right: 0;
    /* border: solid 2px green; */
}

#about-content .right>img {
    padding: 1%;
    border-radius: 50%;
}

/* section 2 : education */

#edu-sec {
    overflow: hidden;
    background-color: #1C1B20;
    height: 100vh;
    scroll-snap-align: start;
}

#edu-cont {
    height: 100%;
    background-color: white;
    border-bottom: solid 50px crimson;
    border-bottom-left-radius: 100%;
}

#edu-sec h1 {
    font-size: xx-large;
    text-align: center;
    padding: 50px 0 50px 0;
}

#edu-sec ul:first-child {
    padding-left: 50%;
}

#edu-sec .edu-item {
    margin: 20px 0;
}

#edu-sec .edu-item p {
    margin: 5px;
}

#edu-sec .edu-time {
    font-size: medium;
}

#edu-sec .edu-degree {
    font-size: large;
    padding-left: 20px;
}

#edu-sec .edu-school {
    font-size: small;
    padding-left: 50px;
}

/* section 3 : skills */

#skills-sec {
    width: 100%;
    height: 100%;
    background-color: crimson;
    scroll-snap-align: start;
}

#skills-cont {
    overflow: hidden;
    background-color: #1C1B20;
    height: 90%;
}

#skills-cont h1 {
    font-size: xx-large;
    text-align: center;
    margin: 50px 0 100px 0;
    color: white;
}

#skills-cont .cat {
    width: 25%;
    float: left;
}

#skills-cont .cat .title {
    color: white;
    padding-left: 25%;
}

#skills-cont .cat ul {
    padding-left: 30%;
}

/* skills elements */

#skills-cont .cat li {
    color: #919099;
    margin: 10px 0;
}

/* section 4 : projects */

#projects-sec {
    background-color: #1C1B20;
    margin: 30px 10% 30px 10%;
    border-radius: 0 0 50px 0;
    scroll-snap-align: start;
    scroll-margin-top: 30px;
    scroll-snap-stop: always;
}

#projects-sec h1 {
    font-size: xx-large;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.project-item {
    overflow: hidden;
    position: relative;
    padding: 80px 0;
    border-bottom: solid 2px white;
}

.project-item:last-child {
    border: none
}

.project-item-left {
    margin-left: -5%;
    margin-right: 5%;
}

.project-item-right {
    margin-left: 5%;
    margin-right: -5%;
}

.project-item .picture {
    width: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    /* border: solid 3px darkblue; */
}

.project-item-left .picture {
    float: left;
}

.project-item-right .picture {
    float: right;
    right: 0;
}

.project-item .picture img {
    width: 100%;
    /* height: 60vh; */
    /*TODO: crop images side align*/
    /* height: 60vh; */
    /* object-fit: none; */
}

.project-item .details {
    /* border: solid 3px lime; */
}

.project-item-left .details {
    width: 35%;
    /* margin-left: 5%; */
    float: right;
}

.project-item-right .details {
    width: 35%;
    float: left;
}

.project-item .details .title {
    padding: 0 0 20px 0;
    font-size: x-large;
    color: white;
}

.project-item .details .description {
    padding: 0 0 0 20px;
    margin-bottom: 10px;
    font-size: large;
    color: #919099;
}

.project-item .details .tech {
    padding-left: 30px;
    color: rgb(102, 100, 100);
}

.project-item .details .features {
    padding: 40px 0 0 30px;
    color: white;
}

.project-item .details ul {
    padding-left: 50px;
    list-style-type: none;
    color: #919099;
}

.project-item .links {
    text-align: center;
    margin-top: 10px;
    /* border: 3px crimson solid; */
}

.project-item .links .source-btn {
    margin: 10px;
}

.project-item .links .try-btn {
    margin: 10px;
}

/* section 5 : cv */

#resume-sec {
    /* border: solid 5px green; */
    height: 100vh;
    background-color: crimson;
    /* position: relative; */
    overflow: hidden;
    scroll-snap-align: start;
    position: relative;
}

#resume-dwld {
    width: 100%;
    height: 70%;
    margin-top: 15vh;
    background-color: #1C1B20;
}

#resume-title {
    /* border: solid 3px yellow; */
    position: relative;
    width: 100%;
    height: 50%;
}

#resume-title:after {
    content: "";
    position: absolute;
    border-bottom: solid 1px white;
    width: 20%;
    left: 40%;
    bottom: 0;
}

#resume-title>h1 {
    /* border: dashed 3px red; */
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 25px;
}

#dl-buttons {
    /* border: solid 3px blue; */
    width: 100%;
    padding-top: 25px;
    height: 50%;
    color: white;
    text-align: center;
}

#social-container {
    width: 100%;
    height: 15%;
    /* border: solid 3px blue; */
    position: absolute;
    bottom: 15vh;
    overflow: hidden;
}

#social-content {
    /* border: solid 3px green; */
    width: 20%;
    height: 100%;
    margin: 0 40%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#social-content i {
    font-size: xx-large;
    color: white;
}

#copyrights {
    width: 100%;
    text-align: center;
    height: 15vh;
    /* border: solid 3px green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyrights>p {
    color: white
}