body {
    height: 100vh;
    background-color: $bg-dark;
    color: $pip-primary;
    font-family: $font-primary;
}

ul {
    list-style: none;
}

#edu-list {
    border-left: solid 2px $pip-primary;
    position: relative;
    .circle {
        position: absolute;
        background-color: $bg-dark;
        left: 0;
        border: solid 2px $pip-primary;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        transform: translateX(-7px);
    }
    li {
    }
}

#root {
    height: 100vh;
}

#footer {
    position: absolute;
    bottom: 40px;
    padding: 0 30px;

    #age-bar {
        border: solid 1px $pip-primary;
        width: 200px;
        height: 15px;
        div {
            height: 100%;
            background-color: $pip-primary;
        }
    }
}
