body {
    font-family: $font-primary;
    color: $white !important;
}

ul {
    list-style: none;
}

// TIMELINE
// #edu-list {
//     border-left: solid 2px $primary;
//     position: relative;
//     .circle {
//         position: absolute;
//         background-color: $bg-dark;
//         left: 0;
//         border: solid 2px $primary;
//         border-radius: 50%;
//         width: 12px;
//         height: 12px;
//         transform: translateX(-7px);
//     }
// }

.icon {
    width: 20px;
}
